@CHARSET "UTF-8";

body{
	display: flex;
 	align-items: center;
 	min-height: 100vh;
}

#project_container{
	margin: auto;
	width:320px; 
	height:568px; 
	border:2px solid black;
	border-radius:20px;
}