@CHARSET "UTF-8";
#out{
	display:none;
	width: 305px;
	height: 134px;
	border: 1px solid black;
	background-color: #FFD94F;
}

#in{
	display: flex;
	justify-content: flex-end;
	width: 305px;
	height: 40px;
	border-bottom: 1px solid black;
	background-color: #FFD94F;
}

img{
	width: 40px;
	cursor: pointer;
}

p{
	margin-top: 35px;
	text-align: center;
	font-size: 18px;
}