h1 {
	margin-bottom: 47px;
	width: 100%;	
	font-size: 30px;
	text-align: center;
}
form {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	width: 220px;
	gap: 13px;
	font-size: 18px;
}

form > p {
	margin: 0;
}


input {
	padding: 2px 0;
	padding-left: 10px;
	border: 1px solid #F2F2F2;
}

input[type="submit"] {
	margin-right: 20%;
	width: 129px;
	height: 29px;
	border: 0;
	outline: 0;
	border-radius: 10px;
	cursor: pointer;
	background-color: #FFD94F;
}

#orTag {
	margin-top: 43px;
	font-size: 18px;
}

#socialLogoContainer {
	display: flex;
	gap: 30px;
	margin-bottom: 19px;
}

#socialLogoContainer img {
	width: 50px;
}